body{margin:0}body .container{margin:200px 200px}header{width:100%;position:fixed;background-color:#fff;top:0;left:0}header .header-wrapper{width:50%;display:flex;justify-content:space-between;align-items:center}header .header-wrapper a{width:50%}header .header-wrapper nav{width:50%;display:flex;justify-content:space-around}header .header-wrapper nav>ul{display:flex;justify-content:space-between;list-style-type:none;text-decoration:none}header .header-wrapper nav>ul li{color:navy}header .header-wrapper nav>ul a{text-decoration:none}header .header-wrapper nav>ul a:hover{color:orange}
/*# sourceMappingURL=style.css.map */
