header 
    width: 100%
    position fixed
    background-color: white
    top 0
    left 0 

    .header-wrapper
        
        display flex
        justify-content: space-between
        align-items: center
        
        a
            

        nav 
            
            display: flex
                   

        nav>ul
            display: flex
            justify-content: space-between
            list-style-type: none
            text-decoration: none
            li
                color navy 

            a
                text-decoration: none
            
                &:hover
                    color: orange 

